@charset "UTF-8";

/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,legend,input,button,textarea,p,th,td,fieldset,section,article,aside,label,select,button,a,span,i{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0}
ol,ul,li{list-style: none}
address, caption, em, i, strong, th{font-weight:normal;font-style:normal;}
fieldset,img{border: 0;}
:focus{outline: none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:100%;}
a{text-decoration: none;}
/*css reset end*/

/*公用代码*/
body{
    font-size: 12px;
    font-family: '宋体';
    color: #656565;
}
a{
    color: #959595;
}
a:hover{
    color: #ffb400;
}
input,button{
    border: none 0;
}
button{
    cursor: pointer;
}
.clearfix:after{
    content: '\200B';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1;
}
.wrap{
    width: 1200px;
    margin: auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*块级元素设置为inline-block*/
@mixin inline-block{
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/*头部*/
.top-bar{
    padding: 10px 0;
    border: 1px solid #e5e5e5;
    a{
        color: #656565;
        &:hover{
            color: #ffb400;
        }
    }
}
.header{
    padding: 15px 0;
    background: #b70900;
    h1 {
        position:relative;
        a img {
            width: 152px;
        }
        .sub-title {
            position:absolute;
            right: -270px;
            width: 260px;
            height: 60px;
            top: 10px;
            color: #e78c87;
            font-size: 14px;
        }
    }
    .search{
        margin-top: 10px;
        margin-left: 60px;
        input{
            border: 2px solid #ffb400;
            width: 405px;
            padding: 8px 5px;
            font-size: 14px;
            color: #333;
        }
        button{
            background: #ffb400;
            color: #77581f;
            width: 80px;
            height: 37px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            vertical-align: bottom;
            *vertical-align: baseline;
        }
    }
    .hot-keywords{
        padding-top: 10px;
        color: #e1d5d7;
        a {
            color: #e1d5d7;
            &:hover {
                color: #ffb400;
            }
        }
        strong{
            font-weight: bold;
        }
    }
    .top-tel{
        margin-top: 13px;
    }
}
/*导航*/
.main-nav{
    background: #ffb400;
    height: 44px;
    line-height: 44px;
    .menu{
        li{
            float: left;
        }
        .current{
            a,a:hover{
                background: #830801;
                color: #e1d5d7;
            }
        }
        .m-name{
            display: block;
            padding: 0 24px;
            font-size: 14px;
            color: #77581f;
            &:hover{
                color: #e1d5d7;
                background: #830801;
            }
        }
        .has-sub-menu{
            position: relative;
            z-index: 3;
        }
        .sub-menu{
            display: none;
            position: absolute;
            z-index: 3;
            width: 380px;
            padding: 10px 0;
            background: #830801;
            background: rgba(131,8,1,0.8);
            line-height: 2;
            li{
                width: 25%;
                a{
                    padding: 2px 10px;
                    display: inline-block;
                    width: 85%;
                    color: #e1d5d7;
                    &:hover{
                        background: #830801;

                    }
                }
            }
        }
    }
    .user-assi{
        li{
            float: left;
            margin: 0 4px;
            a{
                _display: inline-block;
                color: #77581f;
            }
            .icon{
                display: inline-block;
                background: url(../img/icon.png) no-repeat;
                vertical-align: middle;
                margin-right: 5px;
                height: 22px;
            }
        }
        .user-name{
            .icon{
                width: 12px;
                background-position: left top;
            }

        }
        .user-msg{
            .icon{
                width: 16px;
                background-position: -26px top;
            }
            .arrow{
                width: 8px;
                background-position: -55px top;
                margin-right: 0;
                margin-left: 5px;
            }
        }
        .mini-cart{
            background: #820802;
            font-size: 14px;
            padding: 0 15px;
            a{
                color: #e1d5d7;

            }
            .icon{
                width: 25px;
                height: 24px;
                margin-right: 8px;
                background-position: -80px top;
                position:relative;
                top: -2px;
            }
        }
    }
}
.banner{
    margin-bottom: 26px;
    img{
        vertical-align: top;
        width: 100%;
    }
}
.pro-panel{
    margin-bottom: 50px;
    .hd{
        border-bottom: 4px solid #b70900;
        margin-bottom: 28px;
        .title{
            font-family: '微软雅黑';
            .icon{
                display: inline-block;
                width: 76px;
                height: 44px;
                background: url(../img/icon.png) left -22px;
                vertical-align: bottom;
                margin-right: 15px;
            }
            .wheel{
                background-position: left -70px;
            }
            .oil{
                background-position: left -118px;
            }
            strong{
                font-size: 30px;
                font-weight: bold;
                color: #2a2a2a;
            }
            a{
                color: #585858;
                font-size: 18px;
                margin-left: 15px;
                &:hover{
                    color: #ffb400;
                }
            }
        }
        .more-pro{
            color: #959595;
            margin-top: 15px;
            .more{
                font-family: '微软雅黑';
                font-size: 14px;
                background: url(../img/down-arrow.png) right center no-repeat;
                padding-right: 15px;
                a{
                    color: #585858;
                }
            }
        }
    }
    .pro-wrap{
        position: relative;
        width: 960px;
        margin: auto;
        margin-right: 30px;
        _margin-right: 15px;
    }
    .bx-controls{
        a{
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/icon.png);
            position: absolute;
            top: 65px;
            margin-top: -16px;
        }
        .bx-prev{
            background-position: left -168px;
            left: -32px;
            &:hover{
                background-position: left -200px;
            }
        }
        .bx-next{
            background-position: -32px -168px;
            right: -32px;
            &:hover{
                background-position: -32px -200px;
            }
        }
    }
}
.pro-list{
    .pro-img{
        margin-bottom: 8px;
        a{
            display: block;
            position: relative;
            width: 210px;
            height: 145px;
            &:hover{
                .mask{
                    display: block;
                }
            }
        }
        .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: #000;
            background: rgba(0,0,0,0.5);
            color: #fff;
            z-index: 2px;
            display: none;
            p{
                font-size: 26px;
                color: #ffb400;
                font-family: '微软雅黑';
                padding-left: 35px;
                padding-top: 35px;
                padding-bottom: 10px;
            }
            span{
                padding-left: 34px;
                font-size: 14px;
            }
        }

    }
    .summary{
        font-size: 14px;
        line-height: 1.5;
        .sale-price{
            color: #ffb400
        }
        .market-price{
            color: #d6d6d6;
            text-decoration: line-through;
        }
    }
}
.footer{
    background: #7d0802;
    font-size: 14px;
    color: #fff;
    text-align: center;
    a{
        color: #e1d5d7;
        &:hover{
            color: #ffb400;
        }
    }
    .foot-nav{
        height: 55px;
        line-height: 50px;
        background: url(../img/foot-bg.png) repeat-x;
        li{
            @include inline-block;
            a{
                padding: 0 10px;
            }
        }
    }
    .copy-right{
        padding: 30px 0 40px;
        line-height: 1.8;
        font-size: 12px;
        color: #e1d5d7;
    }
}

/*产品页面*/
.crumbs{
    margin: 16px auto 40px;
    .back-index{
        background: url(../img/back-bg.png) left center no-repeat;
        padding-left: 20px;
    }
}
.pro-detail{
    width: 900px;
    margin-bottom: 30px;
    .pro-img-show{
        width: 452px;
        .pro-big-img{
            margin-bottom: 18px;
            img{
                border: 1px solid #e3e3e2
            }
        }
        .pro-item-img{
            position: relative;
            width: 392px;
            margin: auto;
            li{
                border: 1px solid #eeeeee;
                padding: 1px;
                border-radius: 2px;
                cursor: pointer;
            }
            .active{
                border-color: #ffbd1e
            }
            .bx-controls{
                a{
                    position: absolute;
                    width: 11px;
                    height: 24px;
                    display: block;
                    top: 24px;
                    background: url(../img/icon.png) -92px -68px;
                }
                .bx-prev{
                    left: -30px;
                    &:hover{
                        background-position: -92px -119px;
                    }
                }
                .bx-next{
                    background-position: -92px -92px;
                    right: -30px;
                    &:hover{
                        background-position: -92px -143px;
                    }
                }
            }
        }
    }
}
.pro-summary{
    width: 428px;
    font-size: 14px;
    .pro-title{
        font-size: 18px;
        color: #000;
        font-family: '微软雅黑';
        line-height: 1.8;
        margin-bottom: 10px;
    }
    .show-price{
        background: #ebebeb;
        padding: 15px;
        .sale-price{
            border-bottom: 1px dashed #d0d0d0;
            margin-bottom: 10px;
            padding-bottom: 10px;
            .price{
                font-size: 26px;
                color: #ffb400;
                font-family: '微软雅黑';
                display: inline-block;
            }
            .brand-icon{
                font-size: 12px;
                color: #fff;
                background: url(../img/icon.png) left -237px;
                display: inline-block;
                width: 73px;
                height: 19px;
                line-height: 19px;
                text-align: center;
            }
        }
        .market-price{
            span{
                font-size: 16px;
                text-decoration: line-through;
            }
        }
    }
    .pro-param{
        margin:15px 10px 0;
        padding-bottom: 30px;
        border-bottom: 1px dashed #d0d0d0;
        li{
            padding: 8px 0;
            float: left;
            width: 50%;
        }
    }
    .purchase{
        margin: 18px 10px 0;
        .purchase-num{
            a,input{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #b4b4b4;
                text-align: center;
                vertical-align: middle;
            }
            input{
                border-width: 1px 0
            }
        }
        .label{
            padding-top: 8px;
        }
        .pro-stock{
            padding-top: 8px;
            margin-left: 20px;
            span{
                font-weight: bold;
                color: #cd0002;
                padding-left: 10px;
            }
        }
    }
    .purchase-btn{
        margin-top: 36px;
        text-align: center;
        a{
            display: inline-block;
            width: 165px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #ffb400;
            background: #fff7e5;
            color: #ffb400;
            font-size: 18px;
            font-family: '微软雅黑';
            margin: 0 5px;
            vertical-align: middle;
        }
        .add{
            background: #ffb400;
            color: #fff;
            _padding-top: 5px;
            _height: 33px;
            .icon{
                display: inline-block;
                background: url(../img/icon.png) -83px -176px;
                width: 20px;
                height: 19px;
                overflow: hidden;
                margin-right: 10px;
            }
        }
    }
    .promise{
        margin-top: 40px;
        color: #999;
        li{
            width: 32%;
            float: left;
            font-size: 12px;
            line-height: 1.5;
            background: url(../img/promise-1.png) left center no-repeat;
        }
        .shipping{
            background: url(../img/promise-2.png) no-repeat;
        }
        .after-sale{
            background: url(../img/promise-3.png) no-repeat;
            margin-left: 16px;
        }
        p{
            padding-left: 47px;
        }
    }
}
.pro-des{
    clear: both;
    padding-top: 30px;
}
.view-his{
    border: 1px solid #e2e2e2;
    width: 144px;
    padding: 10px 20px;
    text-align: center;
    .title{
        margin-bottom: 15px;
        background: url(../img/history-bg.png) center center no-repeat;
    }
    li{
        margin-bottom: 5px;
        line-height: 1.5;
    }
    .price{
        color: #ffb400;
        font-size: 18px;
        font-family: '微软雅黑';
    }
}
.pro-des-nav{
    border: 1px solid #e2e2e2;
    height: 44px;
    line-height: 44px;
    li{
        padding: 0 24px;
        float: left;
        font-size: 14px;
        color: #666666;
        cursor: pointer;
        &:hover{
            color: #ffb400;
        }
    }
    .active{
        background: #830801;
        color: #e1d5d7;
    }
}
.pro-des-detail{
    display: none;
    .title{
        color: #040007;
        border-bottom: 2px solid #040007;
        font-size: 24px;
        font-family: '微软雅黑';
        padding-bottom: 5px;
        margin: 20px 0;
        img{
            vertical-align: bottom;
        }
    }
    .detail{
        color: #030000;
        font-size: 14px;
        line-height: 1.5;
    }
}

/*官网首页*/
.list-banner-bxSlider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 15px; }

.list-banner-bxSlider .bx-wrapper {
  margin-bottom: 0; }

.list-banner-bxSlider .bx-wrapper .bx-viewport, .list-contianer-bxSlider .bx-wrapper .bx-viewport {
  border: 0;
  box-shadow: none; }

.list-contianer-bxSlider .bx-wrapper .bx-viewport {
  padding-bottom: 10px; }

.bxslider-list .bx-pager {
  position: absolute;
  bottom: 10px; }

.bxslider-list .bx-wrapper {
  margin-bottom: 0; }

.bxslider-list .bx-wrapper img {
  width: 100%; }

.bxslider-list .bx-wrapper .bx-viewport {
  border: 0; }

.list-box .list-top {
  font-size: 22px;
  line-height: 22px;
  padding-bottom: 5px;
  border-bottom: 5px solid #ccc; }

.list-box .list-top span {
  color: #f4781e;
  margin-right: 5px; }

.list-contianer-bxSlider .list-img {
  margin-top: 20px; }

.list-contianer-bxSlider .list-img img {
  width: 100%; }

.list-shop {
  margin-left: -38px;
}
.list-shop li {
  float: left;
  margin-top: 30px;
  width: 270px;
  margin-left: 38px;
  height: 150px;
  _margin-left: 19px;
}
.list-shop li a img {
  margin: 0 auto;
  margin-top: 20px;
  display: block; }

.list-shop li a {
  text-align: center;
  display: block;
  width: 270px;
  height: 100%;
  border: 1px solid #ccc; }

.list-shop li a:hover {
  border-color: #f4781e; }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}
.list-banner-bxSlider{
    position: relative;
    width: 100%;
}
.list-banner-bxSlider .bx-pager{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}
.list-box{
    margin-bottom: 30px;
}